<section id="banner">
	<div class="wrapper">
		<div class="body">
			<div class="title">
				<h1> Cerebellium </h1>
			</div>
			<%= form_tag({controller: "getaway", action: "index"}, method: "post") do %>
				<div class="button">
					 <%= submit_tag("Make a memory") %>
				</div>
				<ul>
					<li><%= label_tag(:start, "Starting Location") %>
					<%= text_field_tag(:start) %></li>
					<li><%= label_tag(:radius, "Distance to Travel")%>
					<%= text_field_tag(:radius) %></li>
				</ul>
			<% end %>
		</div>
	</div>
</section>

